@{
    ViewData["Title"] = "My links";
}
@model ShortenURL.Models.MyLinksViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1>My links</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlList[0].FullUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlList[0].ShortUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlList[0].IsPrivate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UrlList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortUrl)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsPrivate, htmlAttributes: new { @class = "form-check-input" })
                </td>
                <td>
                    @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

</br>
<form method="post">
    <div class="form-group">
        <input type="submit" value="Apply changes" onclick="MyLinks()" class="btn btn-primary" />
    </div>
</form>